<!DOCTYPE html>
<html>
  <head>
    <title>MyProfile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
	  <div id="sidebar">

			<ul>
				
				<li><%= link_to "About Me", about_path %></li>
				<li><%= link_to "Blog", posts_path %></li>
				<li><%= link_to "ContactMe", contact_path %></li>
				
				
			</ul>

			<ul>
				<li class="category">Social</li>
				<li><a href="https://twitter.com/Madhu56780476">Twitter</a></li>
				<li><a href="https://github.com/madhuperam29?tab=repositories">Github</a></li>
				<li><a href="mailto:121015070@sastra.ac.in">Email</a></li>
			</ul>
		</div>
		
		<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>My Profile</p>
			<% elsif current_page?(about_path) %>
				<p>About My self</p>
				<div class="buttons">
					<button class="button"><%= link_to "Back Main Page", root_path %></button>
				</div>	
			<% elsif current_page?(posts_path) %>
				<p>All Posts</p>
				<% if user_signed_in? %>
				<p align="center">Logged in as <strong><%= current_user.email %></strong>
					<div class="buttons">
					<% if current_user.admin? %>
						<button class="button"><%= link_to "New Post", new_post_path %></button>
					<% end %>
						<button class="button"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></button>
					</div>
					
					<% else %>
					
				<button class="button" style="float: right;"><%= link_to "Log In", new_user_session_path %></button>
				<button class="button" style="float: right;"><%= link_to "Sign Up", new_user_registration_path %></button>
			
			
				<% end %>
			<% elsif current_page?(contact_path) %>
				<p>Contact Me Page</p>
				
			<div class="buttons">
			<button class="button"><%= link_to "Back Main Page", root_path %></button>
			</div>	
				
			<% else %>
				<%= link_to "Back Main Page", posts_path %>
			<% end %>
			
			
		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
	</div>
		
    
  </body>
</html>
